doctype html
html
	head
		include inc/head.pug
		title #{TITLE} &ndash; Настройки
		link(rel='stylesheet' href=`code/css/options.min.css?v=${VERSION}`)
		link(rel='stylesheet' href=`https://${HOST}/files/css/chrome-app-events.min.css?v=${VERSION}`)
	body
		table
			tr.title
				td(colspan='2') /radio
			tr
				td #[label(for='radioPick' data-tr='radioPick')]
				td #[select#radioPick.radioPoint]
			tr.title
				td(colspan='2') /anime
			tr
				td #[label(for='schedCheckEnable' data-tr='schedCheckEnable')]
				td #[input#schedCheckEnable.schedCheckEnable(type='checkbox')]
			tr
				td #[label(for='schedCheckTime' data-tr='schedCheckTime')]
				td
					input#schedCheckTime.schedCheckTime(min='2' step='1' type='number')
					label(data-tr='optMin')
			tr.title
				td(colspan='2' data-tr='optOther')
			tr
				td #[label(for='defaultTab' data-tr='defaultTab')]
				td
					select#defaultTab.defTab
						option(value='radio') /radio
						option(value='anime') /anime

		div.save
			button(data-tr='optSave')
			span.saveMsg(data-tr='optSaved')

		each JS in ['kamina', 'every', 'options']
			script(src=`code/js/${JS}.min.js?v=${VERSION}` defer)
