doctype html
html
	head
		include inc/head.pug
		title #{title}
		link(rel='stylesheet' href=`code/css/popup.min.css?v=${version}`)
		link(rel='stylesheet' href=`https://${host}/files/css/chrome-app-events.min.css?v=${version}`)
	body
		div.container
			header.top-panel
				div.logo
				div.tabs
					ul
						li(data-tab='radio') /radio
						li(data-tab='anime') /anime
				div.right
					a.options(href='javascript:void(0)' data-tr-title='options') #[i.icon.icon-gear]
			main
				div.links
					a(href=`https://${host}?from=chrome-${version}` target='_blank' data-tr-title='awSite') #[i.icon.icon-home]
					a(href='https://vk.com/public120842574' target='_blank' rel='nofollow noopener' data-tr-title='awVKPage') #[i.icon.icon-vk]
				div.content
					div.player
						button.playpause #[i.icon.icon-play]
						input.volume(type="range" step='1' min='0' max='100')
					div.tabs_tabs
						section(data-tab='radio')
							div.section.nowRJ
							div.section.nowPlay
						section(data-tab='anime')
							div.section.currentBroadcast
							div.section.nextBroadcast

		each JS in ['kamina', 'every', 'main', 'popup']
			script(src=`code/js/${JS}.min.js?v=${version}` defer)
					
